<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exemplo v-if/v-for</title>
    <script src="http://www.unpkg.com/vue"></script>
</head>

<body>

    <div id="app">
        <ul>
            <li v-for="user in activeUsers" :key='user.id'>{{ user.name }}</li>
        </ul>
    </div>

    <script>

        const App = new Vue({
            el: '#app',
            data: {
                nome: 'Maria',
                logado: false,
                users: [
                    { id: 0, name: 'Pedro 1', isActive: true },
                    { id: 1, name: 'Pedro 2', isActive: false },
                    { id: 2, name: 'Pedro 3', isActive: true },
                    { id: 3, name: 'Pedro 4', isActive: false },
                    { id: 4, name: 'Pedro 5', isActive: true }
                ]
            },
            computed: {
                activeUsers: function () {
                    return this.users.filter(function (user) {
                        return user.isActive
                    })
                }
            }
        });

    </script>

    <pre>
        <ul>
            <li>A lista filtrada somente será recalculada se houver mudanças relevantes no Array users, tornando a filtragem muito mais eficiente.</li>
            <li>Usando v-for="user in activeUsers", somente há a iteração sobre os usuários ativos durante a renderização, o que a torna muito mais eficiente.</li>
            <li>A lógica agora está desacoplada da camada de apresentação, tornando a sua manutenção (alteração/extensão da lógica) muito mais fácil.</li>
        </ul>
    </pre>

</body>

</html>